.visualizer-container {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    // border: 1px solid #312f2f;
    width: 50%;
    height: 100%;
    background-color: 'red';
}